@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-bg-dark:#2c3e50 ;
    --color-bg-dark2:#464861 ;
}

.barralateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: var(--color-bg-dark);
    color: white;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease-in-out;
}

.logo{
    display: flex;
    background: var(--color-bg-dark2);
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 2rem;
    text-align: left;
    padding: 5px;
}

.logo span{
    font-size: 15px;
    font-weight:600;
    margin-left: 10px;
    color: #ecf0f1;
}
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu{
    width: 100%;
    padding: 3px;
}

.menu-items{
    list-style: none;
    padding: 0;
}

.menu-link{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.menu-link:hover{
    background-color: var(--color-bg-dark2);
    color: #ecf0f1;
}

.menu-link img{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.menu-link span{
    margin-left: 10px;
    color: #ecf0f1;
    font-size: 16px;
    font-weight: 600;
}

.menu-link img:last-child{
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
}

.menu-dropdown.toggle .submenu{
    display: flex;
}

.menu-dropdown.toggle .menu-link img:last-child{
    transform: rotate(180deg);
}

.submenu{
    display: none;
    flex-direction: column;
    margin-left: 2.5rem;
    list-style: none;
    transform: all 0.3s ease-in-out;
}

.header-main{
    background:#8b51d0;
    height: 65px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-main img{
    width: 30px;
    cursor: pointer;
    
}

.index-main{
    margin-left: 280px;
    transition: margin-left 0.3s ease-in-out;
}

.barralateral.oculto{
    left: -280px;
}

.index-main.oculto {
    margin-left: 0px;
}