body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    background-image: url('/FutbolClub/assets/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}

.main_login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.login-container{
    background: white;
    width: 420px;
    padding: 30px 30px;
    border-top: #32bc59 5px solid;
}

.login-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-title img{
    width: 50px;
    height: 50px;
}

.login-text{
    margin-bottom: 25px;
}

.login-text span{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 500;
}

.login-text p{
    font-size: 14px;
    color: #a1a1a1;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.form-group label{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
}

.form-group input{
    background: #e2e1e1;
    border: 0px solid red;
    height: 30px;
    padding: 5px;
}

.main_login form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main_login form button{
    background: #32bc59;
    color: white;
    border: none;
    padding: 10px 40px;
}

.form-groups{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-groups a{
    text-decoration: none;
    color: #32bc59;
    font-size: 12px;
    font-weight: 600;
}

.remember-me{
    display: flex;
    align-items: center;
    gap: 3px;
}

.remember-me input{
    width: 10px;
    height: 10px;
}

.remember-me label{
    font-size: 12px;
    font-weight: 600;
}

.invalid{
    border: 1px solid red;
}

.valid{
    border: 1px solid #32bc59;
}