<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Futbol Club | Panel Administrador</title>
</head>
<body>
    <div class="barralateral" id="barralateral">
        <div class="logo">
            <img src="../../assets/img/club-brand.png" alt="Logo del Futbol Club">
            <span>FUTBOL CLUB AGUA DULCE</span>
        </div>
        <div class="menu">
            <ul class="menu-items">
                <li class="menu-static">
                    <a href="#" class="menu-link">
                        <img src="../../assets/img/home-icon.png" alt="Inicio">
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="menu-dropdown" id="menu-dropdown">
                    <a href="#" class="menu-link">
                        <img src="../../assets/img/player.png" alt="Inicio">
                        <span>Jugadores</span>
                        <img src="../../assets/img/arrow.png" alt="Inicio">
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="/admin/players" class="menu-link">Jugadores</a></li>
                        <li class="submenu-item"><a href="/admin/players/create" class="menu-link">Registro</a></li>
                        <li class="submenu-item"><a href="/admin/players/stats" class="menu-link">Busqueda</a></li>
                        <li class="submenu-item"><a href="/admin/players/stats" class="menu-link">Carnet</a></li>
                        
                    </ul>
                </li>
                <li class="menu-dropdown" id="menu-dropdown">
                    <a href="#" class="menu-link">
                        <img src="../../assets/img/trainer.png" alt="Inicio">
                        <span>Entrenadores</span>
                        <img src="../../assets/img/arrow.png" alt="Inicio">
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="/admin/players" class="menu-link">Jugadores</a></li>
                        <li class="submenu-item"><a href="/admin/coaches" class="menu-link">Registro</a></li>
                        <li class="submenu-item"><a href="/admin/teams" class="menu-link">Busqueda</a></li>
                        <li class="submenu-item"><a href="/admin/sponsors" class="menu-link">Carnet</a></li>
                    </ul>
                </li>
                <li class="menu-dropdown" id="menu-dropdown">
                    <a href="#" class="menu-link">
                        <img src="../../assets/img/padres.png" alt="Inicio">
                        <span>Padres</span>
                        <img src="../../assets/img/arrow.png" alt="Inicio">
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="/admin/" class="menu-link">Registro</a></li>
                        <li class="submenu-item"><a href="/admin/teams" class="menu-link">Busqueda</a></li>
                        <li class="submenu-item"><a href="/admin/sponsors" class="menu-link">Pagos</a></li>
                    </ul>
                </li>
                <li class="menu-static">
                    <a href="#" class="menu-link">
                        <img src="../../assets/img/config.png" alt="Inicio">
                        <span>Configuración</span>
                    </a>
                </li>
                <li class="menu-static">
                    <a href="#" class="menu-link">
                        <img src="../../assets/img/logout.png" alt="Inicio">
                        <span>Salir</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <main class="index-main" id="index-main">
        <header class="header-main">
        <img src="../../assets/img/menu.png" alt="" srcset="" id="btn-menu">
    </header>
    </main>
    
    <script src="../../js/index.js"></script>
</body>
</html>