body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.error{
    background: #ffafa9;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.error span{
    color: #f44336;
    font-weight: bold;
}

.good{
    background: #c9f5aa;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
}

.good span{
    color: #209c07;
    font-weight: bold;
}

.header-admin{
    background: #212832;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 20px;
}

.header-admin__title{
    color: #eeeeee;
}

.header-admin__lista{
    display: flex;
    list-style: none;
    padding: 0;
}

.header-admin__lista__link{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.header-admin__lista__link a{
    text-decoration: none;
    color: #eeeeee;
    font-weight: bolder;
}

.header-admin__lista__link span{
    background: #393d46;
    color: #00adb4;
    font-weight: bolder;
    padding:3px;
    border-radius: 5px;
    margin-left:5px;
}

.main-admin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-admin__welcome{
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-admin__welcome p{
    font-weight: bolder;
    font-size: 30px;
}

.main-admin__welcome img{
    margin-top: 2rem;
    width: 180px;
    height: 180px;
    border-radius: 80%;
}

.main-admin__welcome span{
    font-size: 20px;
}

.main-admin__system{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
}

.main-admin__system h4{
    font-size: 20px;
}


.main-admin__system button{
    background-color: #2dff11;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    width: 180px;
    height: 40px;
    cursor: pointer;
}

.boton_rojo{
    background:#f44336;
    border: none;
    color: white;
    width: 110px;
    height: 35px;
    font-weight: bolder;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

.boton_verde{
    background:#4caf50;
    border: none;
    color: white;
    width: 110px;
    height: 35px;
    font-weight: bolder;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

.solicitudes_titulo{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

.solicitudes_titulo button{
    background: #209c07;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

.form_users{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 6rem;
    z-index: 1000000;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.fondo_users{
    position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}