.solicitud-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background: #212832;
}

.solicitud-admin h1{
    color: white;
}

.solicitud-admin span{
    color: white;
}

.solicitud-admin__user__title{
    display: flex;
    align-items: center;
}

.solicitud-admin__user__title h4{
    margin-right:10px ;
    color: #00adb4;
}

.solicitud-admin__user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2a313a;
    width: 700px;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding: 30px;
}

.solicitud-admin__user img{
    height: 160px;
    width: 150px;

}

.solicitud-admin__user__info{
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
    
}

.solicitud-admin__user__info__item{
    text-align: left;
}

.solicitud-admin__user__info__item h5{
    margin: 0px;
    color: #00adb4;
    margin-bottom: 5px;
}

.solicitud-admin__user__accions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.solicitud-admin__user__accions__title{
    font-size: 20px;
    margin-bottom: 1rem;
}

.solicitud-admin__user__accions__title label{
    color: white;
}

.solicitud-admin__user__accions__buttons{
    display: flex;
    gap: 50px;
}

.rechazar_solicitud{
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.rechazar_solicitud input{
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
}

.rechazar_solicitud span{
    color: #00adb4;
    font-weight: bolder;
}

.boton_rojoa{
    background-color: red;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 9px 8px;
    width: 100px;
    cursor: pointer;
}
