.main-edituser{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.edicionuser h2{
    color: white;
    margin:0;
}

.edicionuser span{
    color: #eeeeee;
    margin-bottom: 2rem;
}

.edicionuser form, .edicionuser{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.form-group{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.form-group label{
    color: #eeeeee;
    font-weight: bold;
}

.form-group input, select{
    background: #393d46;
    border:2px solid #00adb4;
    width: 250px;
    height: 30px;
    color: #eeeeee;
    border-radius: 5px;
    font-size: 17px;
}

.edicionuser form button{
    background: #00adb4;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 1rem;
}

